body {
	font-size: 18px;
	line-height: 1.2em;
	
	font-family: "Roboto", sans-serif;
    font-weight: 400;
	font-style: normal;
}

h4, button {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

li {
    list-style: none;
}

ul {
	padding: 0;
}

video {
	margin-bottom: 0.2em;
}

.card {
	border-radius: 10%;
	padding-bottom: 1em;
	overflow: hidden;
}

.card h4 {
	border-top: 1px solid var(--color-primary-text);
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #222;
  z-index: 1000;
  top: 0;
  display: grid;
  place-items: center;
  line-height: 1em;
}

.modal .contents {
  max-width: 600px;
  font-size: 14px;
}

.modal .contents * {
  width: 100%;
}

.modal .contents video {
  max-height: 350px;
}

main {
	padding: 0;
}

.competencies {
  display: flex;
  flex-direction: column;
}

.competencies button {
	width:100%
}

.card {
	margin: 0 0 2em;
}

.photo {
  border-radius: 25%;
  width: 5em;
  height: 5em;
  flex-shrink: 0;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.align {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.icon {
  width: 1.5em;
}

.header {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: right;
}

footer {
	padding: 0em 1em;
}

.layout {
  min-width: 320px;
  margin: auto;
}

.portfolio > ul > li {
  margin: 1em auto 0;
  width: 90%;
}

@media screen and (min-width: 640px) {
  body {
  	font-size: 24px;
  	line-height: 1.5em;
  }
  .layout {
	min-width: 640px;
  }
  .competencies {
  	width: 640px;
  	margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 900px) {
    .layout {
		min-width: 900px;
    }

    .competencies {
    	width: 900px;
    	font-size: 1.3em;
    }

    .portfolio > ul {
	    display: grid;
	  
	    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	    justify-items: center;
	    gap: 1em;
    }
  }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 400ms, opacity 400ms;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms;
}
