body {
	font-size: 18px;
	line-height: 1.2em;
}

li {
    list-style: none;
}

ul {
	padding: 0;
}

video {
	max-width: 95%;
}

main {
	padding: 0;
}

.competencies {
  display: flex;
  flex-direction: column;
}

.competencies button {
	width:100%
}

.card {
	margin: 0 0 2em;
}

.photo {
  border-radius: 100%;
  width: 5em;
  height: 5em;
  flex-shrink: 0;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.align {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.icon {
  width: 1.5em;
}

.header {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: right;
}

footer {
	padding: 0em 1em;
}

.layout {
  min-width: 320px;
  margin: auto;
}

.portfolio > ul > li {
  margin: 1em auto 0;
  width: 90%;
}

@media screen and (min-width: 640px) {
  body {
  	font-size: 24px;
  	line-height: 1.5em;
  }
  .layout {
	min-width: 640px;
  }
  .competencies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: 900px) {
    .layout {
		min-width: 900px;
    }

    .competencies {
    	font-size: 1.3em;
    }

    .portfolio > ul {
	    display: grid;
	  
	    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	    justify-items: center;
	    gap: 1em;
    }
  }
}
